@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("plugins/Roboto/Roboto-LightItalic.ttf") format("truetype");
}


@media screen and (min-width: 200px) and (max-width: 800px){
  .margin-top {
    margin-top:10px;
  }
}



body {
  background-color: #e6e0e0;
  margin: 0px;
}
#app-container {
  width: 100%;
  overflow: hidden;
}


* {
font-family: Roboto;
}

#app-header {
  background-color: #34a3d6;

}

#app-header h1 {
  line-height: 10vh;
  margin: 0px;
  color: white;
  padding: 10px;
  
}
.titulo {
  text-decoration: none;
}

#app-body {
  padding-top: 6vh;
  width: 80%;
  margin: auto;
  min-height: 75vh;
}

#app-body form {
  margin-bottom: 6vh;
}

#app-body form .btn-search{
  background-color: #34a3d6;
  color:white; 
  
}

#app-body form .btn-search:hover{
  background-color: #1291cc; 
}

#boton {
  background-color: #34a3d6;
  color: white;
  font-size: 20px;
  
}

/* #card {
    background: #ffffff;
    min-width: 39vh;
    min-height: 80vh;
    margin-top: 77px;
    border: 3px solid black;
    border-radius: 5px;
}
.sombra {
    box-shadow: 5px 0px 5px #999;
} */

app-footer {
  width: 100%;
  min-height: 10vh;
}
#app-footer p {
  color: #000000;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #999999;
  margin-top: 30px;
  padding:10px;
}
.tv-show {
  width: 100%;
  overflow: hidden;
  padding: 16px;
  background-color: white;
  margin-bottom: 16px;
  display: inline-flex;
  position: relative;
}

.tv-show:hover {
  background-color:#f2f2f2;
}




.url{
  color: transparent;
  width: 290px;
  border: 0;
  outline: 0;
  top: 10px;
  position: absolute;
  cursor: pointer;
  background:  transparent;
}
.seasons {
  color: transparent;
  border: 0;
  width: 95px;
  outline: 0;
  /*top: 193px;*/
  position: absolute;
  cursor: pointer;
  background:  transparent;
}


/*season detail*/
.s-detail {
  color: transparent;
  border: 0;
  width: 6px;
  outline: 0;
  /*top: 193px;*/
  position: absolute;
  cursor: pointer;
  background:  transparent;
}

.tv-show .img-container {
  width: 20%;
}

.tv-show img {
  max-width: 100%;
}

.tv-show .info {
  width: 75%;
  text-align: justify;
  margin-left: 20px;
}



h4.inline{
  margin-right: 10px;
}

h3.inline {
  margin-right: 11px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 155px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transfor.loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 155px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #e6e0e0;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #e6e0e0;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  m: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
  
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #e6e0e0;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
  
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #e6e0e0;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





